doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Home Project Organizer 
    link(rel='stylesheet', href='/css/main.css')
  body
    nav
      ul.navbar
        li
          a(href='/main') &#x1F3E0; Home
        li
          a(href='/projects') My Projects
        li
          a.btn-add(href='/create') + Add New Project
        li
          a(href='/profile') Profile
        li
          a(href='/logout') Logout
    h1 404 Page Not Found
    p The page you are looking for does not exist.