doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Photography
  link(rel='stylesheet', href='/css/main.css')

nav
  ul.navbar
    li
      a(href='/main') Home
    li
      a(href='/gallery') Gallery
    li
      a(href='/create') Add Photo
    li
      a(href='/contact') Contact us
main
  h1#adding-title Add a Photo
  .adding-forms
    form.main_form(action='/create' method='POST')
      label(for='title') Title:
      input#title(type='text' name='title' placeholder='Listing title' required='')
      label(for='image') Image URL:
      input#image(type='text' name='image' placeholder='https://example.com/image.jpg' required='')
      label(for='description') Description
      textarea#description(name='description' required='')
      label(for='category') Category
      select#category(name='category' required='')
        option(value='All') All Categories
        option(value='nature') Nature
        option(value='landscape') Landscape
        option(value='city') City
      #other_category(style='display:none;')
        label(for='other_category_input') Other Category:
        input#other_category_input(type='text' name='other_category_input')
        br
        br
      label(for='sale_date') Sale Date
      input#sale_date(type='date' name='sale_date' required='')
      br
      input#adding-submit(type='submit' name='adding-submit' required='')

