doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Home Project Organizer 
    link(rel='stylesheet', href='/css/main.css')
  body
    nav
      ul.navbar
        // Home emoji
        li
          a(href='/main') &#x1F3E0; Home 
        li
          a(href='/projects') My Projects
        li
          a.btn-add(href='/create') + Add New Project
        li
          a(href='/profile') Profile
        li
          a(href='/logout') Logout
    h1 new project
    form(action='/create' method='POST')
      label(for='title') Title
      input(type='text' name='title' required)

      label(for='description') Description
      input(type='text' name='description' required)
      
      label(for='status') Status
      select#status(name='status' required='')
        option(value="Not Done") Not Done


      label(for='category') Category
      select#category(name='category' required='')
        option(value="All") All Categories
        option(value="repair") Repairs
        option(value="improvement") Improvements
        option(value="organization") Organization

      label(for='deadline') Due date 
      input#sale_date(type='date' name='deadline' required='')
      
      button(type='submit') Create Project