doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Home Project Organizer 
    link(rel='stylesheet', href='/css/main.css')
  body
    nav
      ul.navbar
        li
          a(href='/main') &#x1F3E0; Home
        li
          a(href='/projects') My Projects
        li
          a.btn-add(href='/create') + Add New Project
        li
          a(href='/profile') Profile
        li
          a(href='/logout') Logout
    header
      h1 Welcome to the Home Project Organizer!
      p Streamline your home projects and stay organized.
    main
      section.intro
        h2 About the Organizer
        p Manage your home improvement tasks, track deadlines, and keep everything in one place. 
        p Easily create, update, and track your projects while collaborating with others!
      section.recent-projects
        h2 Recent Projects
        ul.project-list
          if projects && projects.length > 0
            each project in projects
              li
                a(href=`/projects/${project.id}`) #{project.title}
          else
            li No projects to display. Start by adding a new project!
      section.quick-links
        h2 Quick Links
        ul.quick-links
          li
            a(href='/create') Add a New Project
          li
            a(href='/profile') Update Your Profile
          li
            a(href='/projects') View All Projects

