/* body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ccc3c3;
    margin: 0;
    padding: 0;
}

/* nav bar */
nav{
    background-color: rgb(106, 50, 50);
    padding: 15px 20px;
}

.NavBar {
    display: flex; /* Use flexbox on the navbar */
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space out items */
}

.NavBar li {
    list-style: none; /* Remove bullet points */
    padding: 15px;
    margin: 0; /* Remove margin to better align with the form */
}

nav a {
    color: #ecf0f1;
    background-color: rgb(135, 11, 11);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.NavBar form {
    display: flex;
    align-items: center; /* Center the form items vertically */
    padding: 10px; 
}

.NavBar form input[type="search"], 
.NavBar form select, 
.NavBar form input[type="submit"] {
    padding: 8px; 
}

.NavBar form input[type="submit"] {
    cursor: pointer; 
}

/* mainPage */
.mainPage {
    text-align: center; /* Center-align text inside the main container */
}

.textAndImageContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
}

.textSection {
    padding: 5px;
    background-color: #ac7031;
    max-width: 450px;
    text-align: left; 
}

.shoeImage {
    flex-shrink: 0;
}
/* gallery */

.gallery-title {
    text-align: center;
}

.galleryTable {
    margin: 0 auto; 
    width: 85%;
    border-collapse: collapse; 
}

.galleryTable thead{
    background-color: rgb(106, 50, 50);
    color: white;
    padding: 10px;
}

.galleryTable td {
    padding: 10px;
    text-align: left;
}

.tableData tr:nth-child(odd) {
    background-color: #f2f2f2; 
    color: black; 
}

.tableData tr:nth-child(even) {
    background-color: rgb(106, 50, 50);
    color: white; 
}
a {
    text-decoration: None;
    color: #ac7031;
}
/* listing */
.listing-title {
    text-align: center;
}

.content{
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    display: flex; 
}

.column{
    flex: 1;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin: 5px;
    
}

.description-box{
    background-color: #dbd7d7;
    padding: 1rem 1rem;
    margin-top: 8px;
}
.bid-box {
    background-color: #dbd7d7;
    padding: 1rem 1rem;
    margin-top: 8px;
    list-style: none; 
}

.line {
    margin-bottom: 20px;
    width: 100%; 
    height: 2px; 
    background-color: #3d4d92; 
    
}

.product-image {
    width: 100%; 
    height: auto; 
}