/* body */
/* Basic Navbar Styling */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  display: inline;
  padding: 15px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.navbar li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Active Link Styling */
.navbar li a.active {
  font-weight: bold;
  background-color: #ff6600; /* Highlight color */
}

/* Add New Project Button */
.btn-add {
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-add:hover {
  background-color: #45a049;
}

/* Search Form Styling */
.search-form {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.search-form label {
  color: white;
  margin-right: 10px;
}

.search-form input[type="search"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form input[type="submit"] {
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.search-form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Table Styling */
.projectTitle {
  text-align: center;
}

.projectTable {
  margin: 0 auto; 
  width: 95%;
  border-collapse: collapse; 
}

.projectTable th {
  background-color: #333;
  color: white;
  padding: 10px;
}

.projectTable td {
  padding: 10px;
  text-align: center;
}

.projectTable tr:nth-child(even) {
  background-color: #f2f2f2;
} 

.tableData a {
  text-decoration: none;
}

.deleteBtn {
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.statusChanger{
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
